<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
<meta http-equiv="Content-Language" content="zh-cn">
<meta name="robots" content="all">
<meta name="Keywords" content="义乌韵达快运">
<meta name="Description" content="义乌韵达快运结算系统！">
<meta name="author" content="Tencent">
<meta name="copyright" content="Tencent">
<title>义乌韵达结算系统</title>
<link href="../htdocs/css/qzfl.css" rel="stylesheet" type="text/css" media="screen">
<link href="../htdocs/css/modSwap.css" rel="stylesheet" type="text/css" media="screen">

<script language="JavaScript" type="text/javascript" src="../htdocs/js/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript"> 

count=0;
function exit(){
  
  var a=document.getElementById("hello");
  a.href="../user/user!userLogout.jspa?user.userid=$user.userid";

}

function addWeight(){
  count=count+1;
  var dd=document.getElementById("weightDiv"); 
  dd.innerHTML=dd.innerHTML+" <div id='hello"+count+"' class='gg_mod_inner'><div class='gg_link_sign_box'><div style='position:relative;float:center;white-space:nowrap;font-family: Pmingliuverdana,arial,sans-serif; font-size:13px;padding-bottom:10px;'><label for='user_email'>最小重量</label>&nbsp;&nbsp;&nbsp;&nbsp;<input class='cc_text_input'  id='start"+count+"' name='user.loginid' size='8' type='text' />&nbsp;&nbsp;&nbsp;公斤&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for='user_email'>最大重量</label>&nbsp;&nbsp;&nbsp;&nbsp; <input class='cc_text_input'  id='end"+count+"' name='user.loginid' size='8' type='text'/>&nbsp;&nbsp;&nbsp;&nbsp;公斤&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class='adddel' href='#'  onclick='deleteWeight("+count+");return false'><span>删除</span></a></div> </div></div>"; 
}

function deleteWeight(num){

    var dd=document.getElementById("hello"+num);
    dd.innerHTML="";
   
  
}

function doSumbit(){
   var dd=document.getElementById("weightform");
   var str="";
 
   for(var i=1;i<=count;i++){
    if(document.getElementById("start"+i)){
     var start=document.getElementById("start"+i).value;
     var end=document.getElementById("end"+i).value;
     if(start==null||start==""||end==null||end==""){
     	alert("质量不能为空");
     	return false;  
     }
     str=str+start+","+end+";";
     }
   
   }
 
   var incre=document.getElementById("increment").value;
   if(incre==null||incre==""){
     alert("步长不能为空");
     return false;
   
   }
   str=str+incre;

   dd.method="POST";
   dd.action="./stat!setWeight.jspa?weightInfo="+str;
   dd.submit();
 
}
</script>


</head>

<body>
<div class="lay_head_wrap" id="divHead"> 
	<div class="lay_head"> 
		<h1 class="logo"><strong class="none">义乌韵达快运<sup>beta</sup></strong></h1> 
		<div class="link"> 
		    <span id="loginInfo">$!user.username &nbsp;&nbsp;| &nbsp;&nbsp;<a id="hello"  onclick="exit();return true">退出</a>
		</div> 
		
		
	</div> 
</div><!--lay_head_wrap--> 


<div class="lay_main page_modSwap">
	<div class="lay_aside">
	<ul id="ulMenu" class="menu">
		<li><a href="./stat!showImportDataPage.jspa">导入EXCEL数据</a></li>
		<li><a href="./stat!showStatReport.jspa">查看结算报表</a></li>
		<li><a style="color:red;" href="./stat!showSetWeight.jspa">重量规则设置</a></li>
		<li><a href="./stat!showSetWeightPrice.jspa">计重规则费用设置</a></li>
		<li><a href="./stat!showSetPrice.jspa">中转费设置</a></li>
		<li><a href="./stat!showCompareData.jspa">数据报表生成</a></li>
		<li><a href="./stat!showReport.jspa">数据报表查看</a></li>
		<li><a href="http://connect.opensns.qq.com/case/">比对规则设置</a></li>
		<li><a href="http://code.qq.com/bbs/" target="_blank">个人信息</a></li>
		<li><a href="http://code.qq.com/bbs/" target="_blank">退出</a></li>
	</ul>
	
</div>

  <form id="weightform">
	<div class="lay_cont">

		<div class="mod_block">
			<div class="para">
					<div class="para_cont">
						<div class="stat_link_sign_box">
							 <a class="btn_com" href="#" title="非论坛类网站"><span>重量区间设置</span></a>
						</div>
					</div>
		    </div>
		    <div class="gg_mod_inner">
				<div class="cc_para cc_intro_para">
					
					  <a class="bc_btn_com" href="#" onclick="addWeight();return false" id="addButton" title="非论坛类网站"><span>+添加首重区间</span></a>
					
				    </div>
				
			</div>
			<div id="weightDiv"></div>
			#if($!messageInfo=="SUCCESS")
			<font color=red>保存成功！</font>
			#end
		<div class="mod_block">
			<div class="para">
					<div class="para_cont">
						<div class="stat_link_sign_box">
							 <a class="btn_com" href="#" title="非论坛类网站"><span>续重设置</span></a>
						</div>
					</div>
		    </div>
		 
		  <div class="gg_mod_inner">
			
				<div class="gg_link_sign_box">
				<div style="position:relative;float:center;white-space:nowrap;font-family: Pmingliuverdana,arial,sans-serif; font-size:13px;padding-bottom:10px;"> 
            						 
						
              <label for="user_email" id="login_email_label">续重步长&nbsp;&nbsp;=&nbsp;&nbsp;</label> 
              <input class="cc_text_input"  id="increment" name="user.loginid" size="8" type="text" /> &nbsp;公斤
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div> 
	       </div>	
	       </div>
				<div class="para">
					<div class="para_cont">
						<div class="link_sign_box">
							 <a class="btn_com" href="#" title="非论坛类网站" onclick="doSumbit();"><span>保存</span></a>
							 	 
						</div>
					</div>
				</div>
	</div>
		 
		</div>
	</div>
	</div>
	</form>
</div>
 <div class="lay_foot">
	<p class="copyright_en">Copyright © 2011 - 2011. All Rights Reserved.</p>
	<p class="copyright">WUCHANGTEAM 版权所有</p>
</div>
<div id="returnTop" class="to_top" style="position: absolute; top: auto; left: auto; right: 0px; bottom: 0px; "></div>
<script type="text/javascript"> 
window.onload=function(){

  
  var weightDiv=document.getElementById("weightDiv");
  
  var ss='$!weightInfo';
  
  var dd=ss.split(";")
  var len=dd.length;
  
  var incre=dd[len-1];

   for(var i=0;i<len-1;i++){
    var cc=dd[i].split(",");
  
    var start=cc[0];
    var end=cc[1];
   
  
    weightDiv.innerHTML=weightDiv.innerHTML+" <div id='hello"+(i+1)+"' class='gg_mod_inner'><div class='gg_link_sign_box'><div style='position:relative;float:center;white-space:nowrap;font-family: Pmingliuverdana,arial,sans-serif; font-size:13px;padding-bottom:10px;'><label for='user_email'>最小重量</label>&nbsp;&nbsp;&nbsp;&nbsp;<input class='cc_text_input'  id='start"+(i+1)+"' name='user.loginid' size='8' type='text' value='"+start+"' />&nbsp;&nbsp;&nbsp;公斤&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for='user_email'>最大重量</label>&nbsp;&nbsp;&nbsp;&nbsp; <input class='cc_text_input'  id='end"+(i+1)+"' name='user.loginid' size='8' type='text' value='"+end+"'/>&nbsp;&nbsp;&nbsp;&nbsp;公斤&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class='adddel' href='#'  onclick='deleteWeight("+(i+1)+");return false'><span>删除</span></a></div> </div></div>";

 
   
   }

   document.getElementById("increment").value=incre;
   
   count=len-1;
 
   
}

</script>

</body></html>