<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
<meta http-equiv="Content-Language" content="zh-cn">
 
<meta name="copyright" content="Tencent">
<title>低田韵达结算系统—揽件人详细报表</title>
<link href="../htdocs/css/qzfl.css" rel="stylesheet" type="text/css" media="screen"> 
</head>

<body>
#parse("/stat/head.vm")
<div class="lay_main  page_modSwap">
	#parse("/stat/side.vm")
  
	<div class="lay_cont">
   
		<div class="mod_block">
			<div class="para">
					<div class="para_cont">
						<div class="stat_link_sign_box">
							 <a class="btn_com" href="#" title="非论坛类网站"><span>结算报表查看</span></a>
						</div>
					</div>
		    </div>
		 
		</div>
	
		  #if($!errorMessage.hello)

           <div class="gg_mod_inner">
				<div class="cc_para cc_intro_para">
					
					<div> $!errorMessage.hello</div>
				    </div>
				
			</div>

        #end 
		#if($!statReportList.size()>0)
		<form id="weightform">
		<div class="cc_mod_inner">
				 <div class="para">
					<div class="para_cont">
						<div class="link_sign_box">
							 <a class="btn_com_edit_normal" href="#"  onclick="downFile()"><span>下载快件结算报表</span></a>  &nbsp; &nbsp; <a class="btn_com_edit_shan" href="./stat!showManagerMailInfo.jspa?importdate=$importDate"><span>返回</span></a>
							 	 
						</div>
						
					</div>
				
			</div>
				
			</div>
				</form>
		  <div class="cd_mod_inner">
				<div class="cc_para cd_intro_para">
					
					<div class="cc_link_sign_box2">
		  <table id="mytable">
		  <tr>
		  <th width="10%">拦件人</th>
		    <th width="8%">时间</th>
		  <th width="8%">件数</th>
		  <th width="8%">总重量(公斤)</th>
		 
		  <th width="10%">总计件费(元)</th>
		 
		  <th width="10%">总称重费(元)</th>
		  <th width="10%">总派送补贴(元)</th>
          <th width="10%">总中转费(元)</th>
          <th width="5%">&nbsp;&nbsp;</th>
          <th width="10%">总费用(元)</th>
		  </tr>
		
  <tr>
<td >$!statSmy.manager</td>
<td >$dateUtil.formatDateTime($!statSmy.bsndate,'yyyy-MM-dd')</td>
<td >$!statSmy.wholenum</td>
<td >$!statSmy.wholeweight</td>
<td >$!statSmy.wholescanfei</td>
<td >$!statSmy.wholeweightprice</td>
<td >$!statSmy.wholebuzufei</td>
<td >$!statSmy.wholetransformprice</td>
<td >&nbsp;&nbsp;</td>
<td >$!statSmy.wholewholeprice</td>
 </tr>

        </table>
					</div>
			  </div>
	</div>
			
		
      <div class="cd_mod_inner">
				<div class="cc_para cd_intro_para">
					
					<div class="cc_link_sign_box2">
		  <table id="mytable">
		  <tr>
		 <th width="15%">单件号</th>
		  <th width="10%">拦件人</th>
		  <th width="12%">重量(公斤)</th>
		   <th width="12%">目的地</th>
 
		  <th width="10%">计件费(元)</th>
		   <th width="10%">称重费(元)</th>
		   <th width="10%">派送补贴(元)</th>
          <th width="10%">中转费(元)</th>
          <th width="3%"> &nbsp;&nbsp</th>
          <th width="10%">小&nbsp;结(元)</th>
		  </tr>
		  #foreach($statreport in $!statReportList)
<tr> 
<td class="row"><a href="#" onclick="showMailDetail($!statreport.mailid)">$!statreport.mailid</td> 
<td class="row">$!statreport.manager</td> 
<td class="row">$!statreport.weight</td> 
<td class="row" >$!statreport.destinationcity</td> 
<td class="row">$statreport.scanfei</td>
<td class="row">$statreport.weightprice</td>
<td class="row">$statreport.buzufei</td>
<td class="row">$statreport.transformprice</td>
<td class="row">&nbsp;&nbsp;</td>
<td class="row">$statreport.wholeprice</td>
</tr> 
#end

        </table>
					</div>
			  </div>
	</div>
	
	 <form id="searchForm">
	  <input type="hidden" name="importdate"  id="importdate"  value="$dateUtil.formatDateTime($!statSmy.bsndate,'yyyy-MM-dd')"/>
	  <input type="hidden" name="managerdd" id="managerdd"  value="$!statSmy.manager"/>
 <div class="pages-wrap">
   <div class="Pages">
#if($pageBean)
	#set($pageNo = $pageBean.currentPage)
	
	#set($tPage = $pageBean.totalPages)
 
	#set($prePage = $pageNo - 1)
	 
	#set($nextPage = $pageNo + 1)
 
	#if ($pageNo > 1)
		<a href="#" class="PrevPage" onclick="doSearchPage('$prePage')" title="上一页">上一页</a>
	#end
	#set($leftStart = 1)
    #set($leftEnd = 2)
    #set($mStart = $pageNo - 5)
    #set($mEnd = $pageNo + 5)
    #set($rStart = $tPage - 1)
    #set($rEnd = $tPage)
    #if ($mStart <= $leftEnd)
    	#set($leftStart = 0)
    	#set($leftEnd = 0)
    	#set($mStart = 1)
    #end
    #if ($mEnd >= $rStart)
    	#set($rStart = 0)
    	#set($rEnd = 0)
    	#set($mEnd = $tPage)
    #end
    #if ($leftEnd > $leftStart)
    	#foreach($p in [${leftStart}..${leftEnd}])
			#if($p != 0)
					<a href=#"  class="PageLink"  onclick="doSearchPage('$p')" title="$p">$p</a>
			#end
    	#end
    	#if($mStart > ($leftEnd +1))
			<span class="PageMore">...</span>
		#end
    #end
    #foreach($p in [${mStart}..${mEnd}])
        #if($p == $pageNo)
			<span class="PageSel">$p</span>
        #else
    		#if($p != 0)
				<a href="#" class="PageLink"   onclick="doSearchPage('$p')" title="$p">$p</a>
    		#end
    	#end
    #end
       
    #if ($rEnd > $rStart )
		#if($rStart > ($mEnd+1))
			<span class="PageMore">...</span>
    	#end
    	#foreach($p in [${rStart}..${rEnd}])
			<a href="#" class="PageLink"  onclick="doSearchPage('$p')" title="$p">$p</a>
 
    	#end
	#end
	#if ($pageNo < $tPage)
		<a href="#" class="NextPage"  onclick="doSearchPage('$nextPage')" title="下一页">下一页</a>	
	#end
 
  #end
  
  </div>
  </div>
			
#end
	</div>

</div>
</form>
	#include("/stat/footer.vm")

<script type="text/javascript"> 

function exit(){
  
  var a=document.getElementById("hello");
  a.href="../user/user!userLogout.jspa?user.userid=$user.userid";

}

 
function downFile(){
   var managername=document.getElementById("managerdd").value;
   var startdate=document.getElementById("importdate").value;
   
   
   var  str=managername+"@"+startdate;
 
   var hellll=document.getElementById("weightform");
   hellll.method="POST";
   hellll.action="./fileproc!downFile.jspa?filename="+str;
 
   hellll.submit();
 
   
}
function doSearchPage(pageno){

   var dd=document.getElementById("searchForm");
   var dates=document.getElementById("importdate").value;
    var managerdd=document.getElementById("managerdd").value;
   
   dd.method="POST";
   dd.action="./stat!showManagerMailDetail.jspa?pageNo="+pageno+"&importdate="+dates+"&managerdd="+managerdd;
                                                                                       
   dd.submit();


}

function showMailDetail(mailid){

    var dd=document.getElementById("searchForm");
   var dates=document.getElementById("importdate").value;
    var managerdd=document.getElementById("managerdd").value;
    
   
   dd.method="POST";
   dd.action="./stat!showOnlineMailInfo.jspa?mailid="+mailid+"&importDate="+dates+"&managerdd="+managerdd;
                                                                                       
   dd.submit();


}



</script>
</body></html>