<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
<meta http-equiv="Content-Language" content="zh-cn">
<meta name="robots" content="all">
<meta name="Keywords" content="义乌韵达快运">
<meta name="Description" content="义乌韵达快运结算系统！">
<meta name="author" content="Tencent">
<meta name="copyright" content="Tencent">
<title>义乌韵达结算系统——修改密码</title>
<link href="../htdocs/css/qzfl.css" rel="stylesheet" type="text/css" media="screen">

 

</head>

<body>
#parse("/stat/head.vm")
<div class="lay_main page_modSwap">
		#parse("/stat/side.vm")

  <form id="weightform">
	<div class="lay_cont">

		<div class="mod_block">
			<div class="para">
					<div class="para_cont">
						<div class="stat_link_sign_box">
							 <a class="btn_com" href="#" title="非论坛类网站"><span>密码修改</span></a>
						</div>
					</div>
		    </div>
		    <div class="gg_mod_inner">
		    	#if($!errorMessage.hello)
					
					 <font size="3" color=red> $!errorMessage.hello</font>
					  
			    #end
				<div class="cc_para cc_intro_para">
					
						<label for="user_email" id="login_email_label" >原密码:&nbsp;&nbsp;&nbsp;&nbsp;</label> 
                    <input class="text_input"  id="mailid" name="mailid" type="password" style= "WIDTH: 224px"/> &nbsp;&nbsp;&nbsp;
                   
				    </div>
				    <div class="cc_para cc_intro_para">
					
						<label for="user_email" id="login_email_label" >新密码:&nbsp;&nbsp;&nbsp;&nbsp;</label> 
                    <input class="text_input"  id="newmailid" name="newmailid" type="password" style= "WIDTH: 224px"/> &nbsp;&nbsp;&nbsp;
                       
				    </div>
				    <div class="cc_para cc_intro_para">
					
						<label for="user_email" id="login_email_label" >密码确认:&nbsp;&nbsp;&nbsp;</label> 
                    <input class="text_input"  id="confmailid" name="confmailid" type="password" style= "WIDTH: 224px"/> &nbsp;&nbsp;&nbsp;
                     
				    </div>
				    <div class="cc_para cc_intro_para">
					
                      <a  class="adddel" href="#" style="padding:5px 5px 5px 5px" onclick="doSumbit()"><span>保存</span>	</a>
				    </div>
				
			</div>
		</div>
		</form>
 
  
	   


</div>
#include("/stat/footer.vm")

<script type="text/javascript"> 

count=0;
function exit(){
  
  var a=document.getElementById("hello");
  a.href="../user/user!userLogout.jspa?user.userid=$user.userid";

}


function doSumbit(){
   var confmailid=document.getElementById("confmailid").value;
   var newmailid=document.getElementById("newmailid").value;
   var mailid=document.getElementById("mailid").value;
    
   
  
     if(newmailid!=confmailid){
     	alert("确认密码和新密码不一致！");
     	return false;  
     }
     
       var dd=document.getElementById("weightform");
   dd.method="POST";
   dd.action="./stat!updatePassword.jspa?pass="+mailid+"&newpass="+confmailid;
   dd.submit();
 
  
}

 
</script>

</body></html>