<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
<meta http-equiv="Content-Language" content="zh-cn">
 
<title>低田韵达结算系统—修改计重规则</title>
<link href="../htdocs/css/qzfl.css" rel="stylesheet" type="text/css" media="screen">
 
</head>

<body>
#parse("/stat/head.vm")

<div class="lay_main page_modSwap">
		#parse("/stat/side.vm")
   <form id="weightform">
	<div class="lay_cont">
  <input type="hidden"  name="weightruleid" value="$weightruleid"/>
		<div class="mod_block">
			<div class="para">
					<div class="para_cont">
						<div class="stat_link_sign_box">
							 <a class="btn_com" href="#" title="非论坛类网站"><span>计重规则设置</span></a>
						</div>
					</div>
		    </div>
		    <div class="gg_mod_inner">
				 
				     <font color=red>$!errorMessage.hello</font>
				    <div class="cc_para cc_intro_para">
					
					名称:
                    <input class="text_input" id="weightpricename" name="weightpricename" type="text" style= "WIDTH: 224px" value="$!weightpricename"/> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    </div>
				   <div class="cc_para cc_intro_para">
					
					 首重:
                    <input class="text_input" id="shouzhong" name="shouzhong" type="text" style= "WIDTH: 224px" value="$!weightPriceInfo"/> &nbsp;&nbsp;公斤
               
				    </div>
				 <div class="cc_para cc_intro_para">
					
					 单价: 
                    <input class="text_input" id="perprice" name="perprice" type="text" style= "WIDTH: 224px" value="$price"/> 元/公斤
               
				    </div>
				    
				     <div class="cc_para cc_intro_para">
					
					 计件费:
                    <input class="text_input" id="scanfei" name="scanfei" type="text" style= "WIDTH: 224px" value="$!scanfei"/> &nbsp;&nbsp;元/票
               &nbsp;&nbsp;&nbsp;&nbsp;
				    </div>
				      
				 
				<div class="para">
					<div class="para_cont">
						<div class="link_sign_box">
							 <a class="btn_com_edit_normal" href="#"  onclick="doSumbit()"><span>保存</span></a> <a class="btn_com_edit_down" href="./stat!showSetWeightPrice.jspa"><span>退出</span></a>
							 	 
						</div>
						
					</div>
				
			</div>
			</div>
		  
		 
			 
				
		   	
		</div>
	</div>
	</div>
</div>

</form>
#include("/stat/footer.vm") 
 
<script type="text/javascript"> 
count=0;
function exit(){
  
  var a=document.getElementById("hello");
  a.href="../user/user!userLogout.jspa?user.userid=$user.userid";

}

function isNum(str){
  var ts= /^[0-9]+(\.[0-9]+)?$/;
      
      if(!ts.test(str)){
      
        alert("请输入正确的数值！");
        return false;
      
      }
     
   return true;


}
   

function doSumbit(){
   var dd=document.getElementById("weightform");
   var str="";
 
 var weightpricename=document.getElementById("weightpricename").value;
 
 if(weightpricename==null||weightpricename==""){
     	alert("计重方案名不能为空");
     	return false;  
     }
 
   var shouzhong =document.getElementById("shouzhong").value;
   
   
   if(shouzhong==null||shouzhong==""){
     alert("单价不能为空");
     return false;
   
   }
    if(!isNum(shouzhong))
    return false;
 
   var perprice=document.getElementById("perprice").value;
   
   
   if(perprice==null||perprice==""){
     alert("单价不能为空");
     return false;
   
   }
   
    if(!isNum(perprice))
    return false;
   
   
     
     var scanfei=document.getElementById("scanfei").value;
   if(scanfei==null||scanfei==""){
     alert("计件费不能为空");
     return false;
   
   }
   
    if(!isNum(scanfei))
    return false;
  

   dd.method="POST";
   dd.action="./stat!updateWeightPrice.jspa?weightPriceInfo="+shouzhong+"&price="+perprice+"&weightpricename="+weightpricename+"&chujianfei=0"+"&scanfei="+scanfei;;
   dd.submit();
 
}
</script>
</body></html>