<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
<meta http-equiv="Content-Language" content="zh-cn">
 
<title>低田韵达结算系统—面单录入</title>
<link href="../htdocs/css/qzfl.css" rel="stylesheet" type="text/css" media="screen">
 
</head>

<body>
#set($page = 'unread11')
#parse("/stat/head.vm")
<div class="lay_main page_modSwap">
	#parse("/stat/side.vm")
   <form id="weightform">
	<div class="lay_cont">

		<div class="mod_block">
			 <div class="clear">
			</div>
			 <div class="nav-not-fixedz">
    		 
			  <a href="../stat/stat!showImportDataPage.jspa"class="tabcssleft" ><span>揽件数据导入</span></a>
			 <a href="../stat/stat!showImportPricePage.jspa"class="tabcssleft" ><span>其他费用导入</span></a>
			  <a href="../report/report!showImportCompanyIncomePage.jspa"class="tabcssleft" ><span>公司收入录入</span></a>
			  <a href="../report/report!showImportMailInfoPage.jspa"class="tabcssselect" ><span>面单收入录入</span></a>
			 
        </div>
        <div class="clear">
			</div>
		       <div class="cc_para cc_intro_para">
		   #if($!errorMessage.hello)
					
					 <font size="3" color=red> $!errorMessage.hello</font>
		    #end
		      </div>  
		      <div class="cc_para cc_intro_para">
					   分配日期：  &nbsp;&nbsp; <input class="Wdate d_text_input" type="text" id="bsndatestr" name="mailFenpei.bsndatestr" onFocus="WdatePicker({lang:'zh-cn'})" value='$!dateUtil.formatYYYYMMDD($!mailFenpei.bsndate)'/>
              
					&nbsp;&nbsp;&nbsp;揽件人: 
                       <select id="manager" name="mailFenpei.managerid" class="text_input">
                       
                       #foreach($manager in $!managerInfoList)                
                    <option value ="$!manager.managerid" >$!manager.managername</option>
                      #end
                    
                   </select>
                                        类型  <select id="manager" name="mailFenpei.type" class="text_input">
                                         
                    <option value ="普通面单">普通面单</option>
                    <option value ="电子面单">电子面单</option>
                    <option value ="菜鸟面单">菜鸟面单</option>
                    <option value ="热敏纸">热敏纸</option>
                    <option value ="防水袋">防水袋</option>
                    
                   </select>
				    </div>  
				 <div class="cc_para cc_intro_para">
				   
					数量 &nbsp;&nbsp;
                    <input class="ui-input" id="num" tabindex=1 name="mailFenpei.num" type="text" style= "WIDTH: 120px" onblur="changeNum();" value='1000'/> &nbsp;&nbsp; 
               	单价 &nbsp;&nbsp;
                    <input class="ui-input" id="perprice"  tabindex=2  name="mailFenpei.perprice" type="text" style= "WIDTH:120px" onblur="changePrice();" value='2.5'/> &nbsp;&nbsp;元/票
                                          总额 &nbsp;&nbsp;
                    <input class="ui-input" id="price" name="mailFenpei.price" type="text" style= "WIDTH: 120px" value='2500' readonly/> &nbsp;&nbsp;元
               
				    </div>
				 <div class="cc_para cc_intro_para">
				   备注 &nbsp;&nbsp;<input class="ui-input"  tabindex=3 id="memo" name="mailFenpei.memo" type="text" style= "WIDTH: 530px" value=''/> &nbsp;&nbsp;
					 
				    
				 
			</div>
		  
			
			
			
			  <div class="para">
					<div class="para_cont">
						<div class="link_sign_box">
							 <a class="tabcssselect" href="#" title="义乌韵达" onclick="doSumbit();"><span>保&nbsp;存</span></a>
							 	 
						</div>
					</div>
				</div>
			
		 <div class="mod_block" style="float:left">
			        <input type="hidden" id="pageNo" name="pageNo" value="$!pageBean.currentPage">
		 	   
				 	   年份 <select id="yearstr" name="yearSmy.year" class="text_input" style= "WIDTH: 134px">
				 	 <option value =""#if(!$yearSmy.year)selected#end>全部</option>
                     <option value ="2014"#if($yearSmy.year==2014)selected#end>2014年</option>
                     <option value ="2015"#if($yearSmy.year==2015)selected#end>2015年</option>
                     <option value ="2016"#if($yearSmy.year==2016)selected#end>2016年</option>
                     <option value ="2017"#if($yearSmy.year==2017)selected#end>2017年</option>
                     <option value ="2018"#if($yearSmy.year==2018)selected#end>2018年</option>
                   </select>
                                            月份
                    <select id="monthstr" name="yearSmy.month" class="text_input" style= "WIDTH: 134px">
                    <option value =""#if(!$yearSmy.year)selected#end>全部</option>
                    <option value ="1"#if($yearSmy.month==1)selected#end>1月</option>
                    <option value ="2"#if($yearSmy.month==2)selected#end>2月</option>
                    <option value ="3"#if($yearSmy.month==3)selected#end>3月</option>
                    <option value ="4"#if($yearSmy.month==4)selected#end>4月</option>
                  	<option value ="5"#if($yearSmy.month==5)selected#end>5月</option>
                  	<option value ="6"#if($yearSmy.month==6)selected#end>6月</option>
                  	<option value ="7"#if($yearSmy.month==7)selected#end>7月</option>
                  	<option value ="8"#if($yearSmy.month==8)selected#end>8月</option>
                    <option value ="9"#if($yearSmy.month==9)selected#end>9月</option>
                    <option value ="10"#if($yearSmy.month==10)selected#end>10月</option>
                    <option value ="11"#if($yearSmy.month==11)selected#end>11月</option>
                    <option value ="12"#if($yearSmy.month==12)selected#end>12月</option>
                   </select>
                   
                       &nbsp;&nbsp;&nbsp;揽件人 
                       <select id="manager" name="yearSmy.manager" class="text_input" style= "WIDTH: 124px">
                      <option value="">全部</option> 
                       #foreach($manager in $!managerInfoList)                
                       <option value ="$!manager.managerid" #if("$!manager.managerid"=="$!yearSmy.manager")selected#end>$!manager.managername</option>
                      #end
                    
                   </select>	  
                     &nbsp;&nbsp;&nbsp;物料类型
                    <select id="type" name="yearSmy.type" class="text_input" style= "WIDTH: 124px">
                    <option value="">全部</option> 
                    <option value ="普通面单"#if("普通面单"==$!yearSmy.type)selected#end>普通面单</option>
                    <option value ="电子面单"#if("电子面"==$!yearSmy.type)selected#end>电子面单</option>
                    <option value ="菜鸟面单"#if("菜鸟面单"==$!yearSmy.type)selected#end>菜鸟面单</option>
                    <option value ="热敏纸"#if("热敏纸"==$!yearSmy.type)selected#end>热敏纸</option>
                    <option value ="防水袋"#if("防水袋"==$!yearSmy.type)selected#end>防水袋</option>
                   </select>	 
               &nbsp; &nbsp;  &nbsp; <a class="btn_com_edit_normal" href="#"   onclick="searchPage();"><span>查&nbsp;&nbsp;询</span></a> &nbsp;&nbsp;&nbsp;<a class="btn_com_edit_normal" href="#"   onclick="doExport();"><span>导&nbsp;&nbsp;出</span></a> 
            	 </div>
			 <div class="clear">
			</div>	
		 
	      <div class="mod_block">
		 	 	  
	      <div class="imp_mod_inner">
		  <div class="cc_para imp_intro_para">
		  <div class="cc_link_sign_box2">
		  <table id="mytable">
		  <tr>
		   <th width="5%">序号</th>
		  <th width="10%">日期</th>
		  <th width="10%">面单分配人</th>
		  <th width="8%">面单类型</th>
		  <th width="7%">数量</th>
		  <th width="7%">单价</th>
		  <th width="8%">总额</th>		 
		  <th width="12%">备注</th>
		  <th width="15%">创建时间</th>
		   <th width="12%">操作</th>  
		 
		  </tr>
		 #set($i=1)
		  #foreach($mailFenpei in $!mailFenpeiList)
				<tr>                
					  
						<td class="row">$!i</td> 
						<td class="row">$dateUtil.formatYYYYMMDD($!mailFenpei.bsndate)</td> 
				     	<td class="row">$!mailFenpei.managername</td> 
				     	<td class="row">$!mailFenpei.type</td> 
				     	<td class="row">$!mailFenpei.num</td> 
				     	<td class="row">$!mailFenpei.perprice</td>
				     	<td class="row">$!mailFenpei.price</td>  
				     	<td class="row">$!mailFenpei.memo</td>
				     	<td class="row">$!dateUtil.formatDateTime($!mailFenpei.createtime,"yyyy-MM-dd HH:mm:ss")</td>    
				        <td class="row"><a class="btn_com_edit_normal" onclick="showUpdate($!mailFenpei.mailinfoid)" href='#'><span>修改</span></a><a class="btn_com_edit_shan" onclick="deleteMailInfo('$!dateUtil.formatYYYYMMDD($!mailFenpei.bsndate)',$!mailFenpei.mailinfoid,$!mailFenpei.num,$!mailFenpei.price)" href='#'><span>删除</span></a></td> 

				</tr> 

    #set($i=$i+1)

		#end
 		</table>
      
		    </div>
	      </div>
	    </div>
	 	
	  <form id="searchForm">
	 
 <div class="pages-wrap">
   <div class="Pages">
#if($pageBean)
	#set($pageNo = $pageBean.currentPage)
	
	#set($tPage = $pageBean.totalPages)
 
	#set($prePage = $pageNo - 1)
	 
	#set($nextPage = $pageNo + 1)
 
	#if ($pageNo > 1)
		<a href="#" class="PrevPage" onclick="doSearchPage('$prePage')" title="上一页">上一页</a>
	#end
	#set($leftStart = 1)
    #set($leftEnd = 2)
    #set($mStart = $pageNo - 5)
    #set($mEnd = $pageNo + 5)
    #set($rStart = $tPage - 1)
    #set($rEnd = $tPage)
    #if ($mStart <= $leftEnd)
    	#set($leftStart = 0)
    	#set($leftEnd = 0)
    	#set($mStart = 1)
    #end
    #if ($mEnd >= $rStart)
    	#set($rStart = 0)
    	#set($rEnd = 0)
    	#set($mEnd = $tPage)
    #end
    #if ($leftEnd > $leftStart)
    	#foreach($p in [${leftStart}..${leftEnd}])
			#if($p != 0)
					<a href=#"  class="PageLink"  onclick="doSearchPage('$p')" title="$p">$p</a>
			#end
    	#end
    	#if($mStart > ($leftEnd +1))
			<span class="PageMore">...</span>
		#end
    #end
    #foreach($p in [${mStart}..${mEnd}])
        #if($p == $pageNo)
			<span class="PageSel">$p</span>
        #else
    		#if($p != 0)
				<a href="#" class="PageLink"   onclick="doSearchPage('$p')" title="$p">$p</a>
    		#end
    	#end
    #end
       
    #if ($rEnd > $rStart )
		#if($rStart > ($mEnd+1))
			<span class="PageMore">...</span>
    	#end
    	#foreach($p in [${rStart}..${rEnd}])
			<a href="#" class="PageLink"  onclick="doSearchPage('$p')" title="$p">$p</a>
 
    	#end
	#end
	#if ($pageNo < $tPage)
		<a href="#" class="NextPage"  onclick="doSearchPage('$nextPage')" title="下一页">下一页</a>	
	#end
 
  #end
  
  </div>
  </div>
			

	</div>

</div>
</form>
	  
		</div>
	</div>
	</div>
 

</form>
#include("/stat/footer.vm")
 <script language="JavaScript" type="text/javascript" src="../htdocs/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript"> 
count=0;
function exit(){
  
  var a=document.getElementById("hello");
  a.href="../user/user!userLogout.jspa?user.userid=$user.userid";

}

function isNum(str){
  var ts= /^[0-9]+(\.[0-9]+)?$/;
      
      if(!ts.test(str)){
      
        alert("请输入正确的数值！");
        return false;
      
      }
     
   return true;


}

function deleteMailInfo(date,id,num,price){
 var bb= window.confirm("你是否要删除该面单销售。单击“确定”继续；单击“取消”停止。");

	   if (bb) {
		 
		  var pageno=document.getElementById("pageNo").value; 
    var hellll=document.getElementById("weightform");

   hellll.method="POST";

   hellll.action="../report/report!deleteMailFenpei.jspa?bsnstr="+date+"&mailinfoid="+id+"&num="+num+"&price="+price+"&pageNo="+pageno;

   hellll.submit()
   return true;
       }

}


function changeNum(){

  var num=document.getElementById("num").value;
  var perprice=document.getElementById("perprice").value;
  
  if(!isNum(num)||!isNum(perprice)){
  document.getElementById("num").value='';
  document.getElementById("price").value='';
  }else{
    
   document.getElementById("price").value=parseInt(num)*parseFloat(perprice);
  }

}


function changePrice(){

  var num=document.getElementById("num").value;
  var perprice=document.getElementById("perprice").value;
  
  if(!isNum(num)||!isNum(perprice)){
  document.getElementById("perprice").value='';
  document.getElementById("price").value='';
  }else{
    
   document.getElementById("price").value=parseInt(num)*parseFloat(perprice);
  }

}
  
function doSumbit(){
   var dd=document.getElementById("weightform");
   var bsndatestr=document.getElementById("bsndatestr").value;
   var num=document.getElementById("num").value;
   var perprice=document.getElementById("perprice").value;
    
   if(num==null||num==""){
     alert("数量不能为空");
     return false;
   
   }
   
    if(!isNum(num))
    return false;
  
   if(perprice==null||perprice==""){
     alert("单价不能为空");
     return false;
   
   }
    if(!isNum(perprice))
    return false;
 
    
  dd.method="post";//首重为weighpriceinfo
   dd.action="../report/report!createMailFenpei.jspa";
   dd.submit();
  
 
}

 function searchPage(){
 
  var pageno=document.getElementById("pageNo").value;
    var dd=document.getElementById("weightform");
   dd.method="POST";
   dd.action="../report/report!searchMailInfoPage.jspa?pageNo=1";                                                                                     
   dd.submit();


}


 function doSearchPage(pageno){
  
   var dd=document.getElementById("weightform");
   dd.method="POST";
   dd.action="../report/report!searchMailInfoPage.jspa?pageNo="+pageno;                                                                                     
   dd.submit();


}
 function doExport(){
  
    var dd=document.getElementById("weightform");
   dd.method="POST";
   dd.action="../report/report!exportMailInfo.jspa";                                                                                     
   dd.submit();


}

 function showUpdate(mailinfoid){
   var dd=document.getElementById("weightform");
   var pageNo=document.getElementById("pageNo").value;
   dd.method="POST";
   dd.action="../report/report!showUpdateMailInfoPage.jspa?mailinfoid="+mailinfoid+"&pageNo="+pageNo;                                                                                     
   dd.submit();


}


</script> 

</body></html>