<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
<meta http-equiv="Content-Language" content="zh-cn">
 
<title>低田韵达结算系统—客服赔款</title>
<link href="../htdocs/css/qzfl.css" rel="stylesheet" type="text/css" media="screen">
 
</head>

<body>
#set($page = 'unread16')
#parse("/stat/head.vm")
<div class="lay_main page_modSwap">
	#parse("/stat/side.vm")
  
	<div class="lay_cont">

		<div class="mod_block">
			 
		     <div class="clear">
			</div>
			 <div class="nav-not-fixedz">
    		 
		 #if($user.role=='admin') 
			  <a href="./report!showImportZhipaoOutcomePage.jspa"class="tabcssleft" ><span>直跑录入</span></a>
			  <a href="./report!showImportZhichuOutcomePage.jspa"class="tabcssleft" ><span>公司支出录入</span></a>
			  <a href="./report!showImportGongziOutcomePage.jspa"class="tabcssleft" ><span>工资录入</span></a>
			  <a href="./report!showImportFankuanOutcomePage.jspa"class="tabcssleft" ><span>中转费返款</span></a>
			  #end
			  <a href="./report!showImportPeikuanOutcomePage.jspa"class="tabcssselect" ><span>客服赔款</span></a>
        </div>
        <div class="clear">
			</div>
		 <form name="dd" id="weightform" method="POST" enctype="multipart/form-data"> 
		 	      <input type="hidden" id="pageNo"  name="pageNo" value="$!yearSmy.pageNo">
		 	     <input type="hidden" name="yearSmy.year" value="$!yearSmy.year">
		 	     <input type="hidden" name="yearSmy.month" value="$!yearSmy.month">
		 	     <input type="hidden" name="yearSmy.manager" value="$!yearSmy.manager">
		 	     <input type="hidden" name="yearSmy.state" value="$!yearSmy.state">
		 	     <input type="hidden" name="yearSmy.mailid" value="$!yearSmy.mailid">    
		 	        <input type="hidden" id="outcomeid"  name="peikuanOutcome.outcomeid" value="$!peikuanOutcome.outcomeid">
		 	     <div class="cc_para cc_intro_para" style="border-top: 1px solid #CCC7BE;">
				     
				     #if($!errorMessage.hello)
					
					 <font size="3" color=red> $!errorMessage.hello</font>
		    #end
		        </div> 
				  
				      <div class="cc_para cc_intro_para">
				    
					  收款日期 <input class="Wdate d_text_input" type="text" id="bsndatestr" name="peikuanOutcome.bsndatestr" onFocus="WdatePicker({lang:'zh-cn'})" value='$!dateUtil.formatYYYYMMDD($!peikuanOutcome.bsndate)'/>
                     &nbsp;&nbsp;&nbsp;揽件人 
                       <select id="manager" name="peikuanOutcome.managerid" class="text_input">
                       <option value ="0" >请选择揽件人</option> 
                       #foreach($manager in $!managerInfoList)                
                       <option value ="$!manager.managerid@$!manager.managername" #if($!manager.managerid==$!peikuanOutcome.managerid)selected#end>$!manager.managername</option>
                      #end
                    
                   </select>
					    </div> 
					    
				  <div class="cc_para cc_intro_para">
				   面单号&nbsp;&nbsp;<input class="ui-input"  tabindex=3 id="mailid" name="peikuanOutcome.mailid" type="text" style= "WIDTH: 384px" value='$!peikuanOutcome.mailid'/> &nbsp;&nbsp;
					 
			 	</div> 
			     
				 <div class="cc_para cc_intro_para">
				     &nbsp; 问题原因   
				      <select id="reason" name="peikuanOutcome.reason" class="text_input">
<option value="网点遗失"#if($!peikuanOutcome.reason=="网点遗失")selected#end>网点遗失</option>
<option value="中转遗失"#if($!peikuanOutcome.reason=="中转遗失")selected#end>中转遗失</option>
<option value="我司遗失"#if($!peikuanOutcome.reason=="我司遗失")selected#end>我司遗失</option>
<option value="网点破损"#if($!peikuanOutcome.reason=="网点破损")selected#end>网点破损</option>
<option value="网点延误"#if($!peikuanOutcome.reason=="网点延误")selected#end>网点延误</option>
<option value="赔付运费"#if($!peikuanOutcome.reason=="赔付运费")selected#end>赔付运费</option>
<option value="破损件"#if($!peikuanOutcome.reason=="破损件")selected#end>破损件</option>
<option value="收件人已退款"#if($!peikuanOutcome.reason=="收件人已退款")selected#end>收件人已退款</option>
<option value="无揽件记录"#if($!peikuanOutcome.reason=="无揽件记录")selected#end>无揽件记录</option>
<option value="网点污染"#if($!peikuanOutcome.reason=="网点污染")selected#end>网点污染</option>
<option value="内物短少"#if($!peikuanOutcome.reason=="内物短少")selected#end>内物短少</option>
<option value="无记录"#if($!peikuanOutcome.reason=="无记录")selected#end>无记录</option>
<option value="网点少件"#if($!peikuanOutcome.reason=="网点少件")selected#end>网点少件</option>
<option value="退件遗失"#if($!peikuanOutcome.reason=="退件遗失")selected#end>退件遗失</option>
<option value="虚假签收"#if($!peikuanOutcome.reason=="虚假签收")selected#end>虚假签收</option>
                   </select> 
                  
					&nbsp;&nbsp;&nbsp;应付金额(*)&nbsp;&nbsp;
                    <input class="ui-input" id="price" tabindex=1 name="peikuanOutcome.yingpeiprice" type="text" style= "WIDTH: 100px"  value="$!peikuanOutcome.yingpeiprice"/> &nbsp;&nbsp; 
                 </div>    
                     
                   <div class="cc_para cc_intro_para">
				     &nbsp; 处理情况   
 <select id="dealstate" name="peikuanOutcome.dealstate" class="text_input">
<option  value="我司赔付 "#if($!peikuanOutcome.dealstate=="我司赔付")selected#end>我司赔付</option>
<option value="对方公司已录"#if($!peikuanOutcome.dealstate=="对方公司已录")selected#end>对方公司已录我司</option>
<option value="已打老板支付宝"#if($!peikuanOutcome.dealstate=="已打老板支付宝")selected#end>已打老板支付宝</option>
<option value="待调查"#if($!peikuanOutcome.dealstate=="待调查")selected#end>待调查</option>
<option value="待接单"#if($!peikuanOutcome.dealstate=="待接单")selected#end>待接单</option>
<option value="已完成"#if($!peikuanOutcome.dealstate=="已完成")selected#end>已完成</option>
<option value="待发处决书"#if($!peikuanOutcome.dealstate=="待发处决书")selected#end>待发处决书</option>
<option value="通知书未审核"#if($!peikuanOutcome.dealstate=="通知书未审核")selected#end>通知书未审核</option>
<option value="通知书驳回"#if($!peikuanOutcome.dealstate=="通知书驳回")selected#end>通知书驳回</option>
<option value="不予处理"#if($!peikuanOutcome.dealstate=="不予处理")selected#end>不予处理</option>

 </select>
 
 	&nbsp;&nbsp;&nbsp;实付金额&nbsp;&nbsp;
                    <input class="ui-input" id="price" tabindex=1 name="peikuanOutcome.realpeiprice" type="text" style= "WIDTH: 100px" value="$!peikuanOutcome.realpeiprice"/> &nbsp;&nbsp; 
             	</div>
		   <div class="cc_para cc_intro_para">
				  目的地 &nbsp;&nbsp;<input class="ui-input"  tabindex=3 id="dest" name="peikuanOutcome.dest" type="text" style= "WIDTH: 384px" value='$!peikuanOutcome.dest'/> &nbsp;&nbsp;
					 
			 	</div>
		  
		                                    
				 <div class="cc_para cc_intro_para">
				   备注 &nbsp;&nbsp;<input class="ui-input"  tabindex=3 id="memo" name="peikuanOutcome.memo" type="text" style= "WIDTH: 384px" value='$!peikuanOutcome.memo'/> &nbsp;&nbsp;
					 
			 	</div>
		  
		   
			  <div class="para">
					<div class="para_cont">
						<div class="link_sign_box">
				 
							 <a class="tabcssselect" href="#" title="韵达" onclick="doSumbit();"><span>保存修改</span></a>
							  <a class="tabcssleft" href="#" title="韵达" onclick="fanhui();"><span>返&nbsp;回</span></a>	 
						</div>
					</div>
				</div>
			 
		</div>
	</div>
	</div>
 

</form>
 	#include("/stat/footer.vm")
 
<script language="JavaScript" type="text/javascript" src="../htdocs/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript"> 
count=0;
 
function exit(){
  
  var a=document.getElementById("hello");
  a.href="../user/user!userLogout.jspa?user.userid=$user.userid";

}

function isNum(str){
  var ts= /^[0-9]+(\.[0-9]+)?$/;
      
      if(!ts.test(str)){
      
        alert("请输入正确的数值！");
        return false;
      
      }
     
   return true;


}
 
 function fanhui(){
   var dd=document.getElementById("weightform");
   
    var pg=document.getElementById("pageNo").value;
   dd.method="POST";
   dd.action="../report/report!searchPeikuanOutcomePage.jspa?pageNo="+pg;                                                                                     
   dd.submit();


}



function doSumbit(){
   var dd=document.getElementById("weightform");
   var bsndatestr=document.getElementById("bsndatestr").value;
   var mailid=document.getElementById("mailid").value;
   var price=document.getElementById("price").value;
   var manager=document.getElementById("manager").value;
    if(manager==null||manager=="0"){
     alert("请选择揽件人");
     return false;
   
   }
   
    if(mailid==null||mailid==""){
     alert("面单号不能为空");
     return false;
   
   }
  
   if(price==null||price==""){
     alert("应赔金额不能为空");
     return false;
   
   }
    if(!isNum(price))
    return false;
 
    
   dd.method="post";//首重为weighpriceinfo
   dd.action="../report/report!updatePeikuanOutcome.jspa";
   dd.submit();
  
 
}


   function deletePeikuanOutcome(incomeid){
      var bb= window.confirm("请再次确定要删除。单击“确定”继续；单击“取消”停止。");
	   if (bb) {
	    var dd= document.getElementById("weightform3");
        dd.action="../report/report!deletePeikuanOutcomePage.jspa?outcomeid="+incomeid;       
         dd.submit();
        return true;
       }
       
   }
 
</script> 

</body></html>